<!--File Name: bottom_nav.ejs
   Name: Navjot Singh
   Student ID: 301157391
   Date:3-June-2022
-->

<!--Copyright footer for bottom-->
<footer>
    <nav class="navbar fixed-bottom bg-light" id="footer1">
      <h6 class="display-9 navbar-text">&copy; Copyright 2020 All Rights Reserved.</h6>
    </nav>
</footer>