<!--File Name: header.ejs
   Name: Navjot Singh
   Student ID: 301157391
   Date:3-June-2022
-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body>